In [1]:
%load_ext autoreload
%autoreload 2
import os
import sys
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import plotly
import plotly.graph_objects as go

In [ ]:
# sys.path.append(os.path.dirname(sys.path[0]))

In [4]:
%cd ..

/home/trinhtung/Tovchain/PythonDatabase

/home/trinhtung/Tovchain/PythonDatabase/venv/lib64/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [8]:
from utils.plot_utils import bar_bar, bar_and_scatter, bar_bar_and_scatter

In [9]:
def pretty_size(input_df: pd.DataFrame): 
    _df_gb = input_df.copy()
    for col_name in ['total_size', 'data_size', 'index_size']:
        _df_gb[col_name] = input_df[col_name] / (1024**3)
    return _df_gb

In [37]:
chain_id = '0x38'
table_name = 'token_transfer'
df_origin = pd.read_csv(f'../data/postgres_tables_sizes/chain_{chain_id}_{table_name}.csv')

In [38]:
df_shifted = df_origin[['total_size', 'data_size', 'index_size', 'n_live_tup', 'n_tup_ins', 'n_tup_del']].shift(periods=1)

# diff df
percent_df = df_origin / df_shifted * 100
percent_df['time'] = df_origin['time']
percent_df[['time', 'total_size', 'data_size', 'index_size', 'n_live_tup', 'n_tup_ins', 'n_tup_del']]

,time,total_size,data_size,index_size,n_live_tup,n_tup_ins,n_tup_del
0,2024/04/12,NaN,NaN,NaN,NaN,NaN,NaN
1,2024/04/13,100.556750,100.827316,100.014088,99.243200,101.170400,100.000000
2,2024/04/14,100.033586,100.045125,100.010245,102.071736,101.696381,101.335436
3,2024/04/15,100.042414,100.000000,100.128204,100.286643,101.667271,101.404790
4,2024/04/16,100.735153,100.979455,100.241659,98.544256,101.496820,101.276041
...,...,...,...,...,...,...,...
61,2024/06/11,100.700409,100.828846,100.427983,97.473396,101.359773,106.807886
62,2024/06/12,100.012550,100.000000,100.039276,101.947091,101.415139,100.805578
63,2024/06/13,100.431286,100.366750,100.568680,101.838929,101.389846,100.000000
64,2024/06/14,100.257855,100.301832,100.164412,99.759446,101.157393,101.721721
65,2024/06/15,100.769013,100.793217,100.717528,99.652849,101.185432,100.889500

In [39]:
df_shifted

,total_size,data_size,index_size,n_live_tup,n_tup_ins,n_tup_del
0,NaN,NaN,NaN,NaN,NaN,NaN
1,2.018580e+11,1.346608e+11,6.715992e+10,518937915.0,445621774.0,422076958.0
2,2.029818e+11,1.357749e+11,6.716938e+10,515010593.0,450837332.0,422076958.0
3,2.030500e+11,1.358362e+11,6.717626e+10,525680253.0,458485250.0,427713524.0
4,2.031361e+11,1.358362e+11,6.726238e+10,527187080.0,466129443.0,433721999.0
...,...,...,...,...,...,...
61,2.748447e+11,1.867332e+11,8.805986e+10,729426467.0,937140129.0,722814690.0
62,2.767698e+11,1.882810e+11,8.843674e+10,710996752.0,949883103.0,772023090.0
63,2.768045e+11,1.882810e+11,8.847148e+10,724840509.0,963325270.0,778242342.0
64,2.779983e+11,1.889715e+11,8.897460e+10,738169808.0,976714009.0,778242342.0
65,2.787152e+11,1.895419e+11,8.912088e+10,736394110.0,988018432.0,791641506.0

In [40]:
df_origin

,time,table_name,total_size,data_size,index_size,n_live_tup,n_tup_ins,n_tup_del
0,2024/04/12,token_transfer,201857998848,134660833280,67159916544,518937915,445621774,422076958
1,2024/04/13,token_transfer,202981842944,135774904320,67169378304,515010593,450837332,422076958
2,2024/04/14,token_transfer,203050016768,135836172288,67176259584,525680253,458485250,427713524
3,2024/04/15,token_transfer,203136139264,135836172288,67262382080,527187080,466129443,433721999
4,2024/04/16,token_transfer,204629499904,137166626816,67424927744,519512586,473106564,439256471
...,...,...,...,...,...,...,...,...
61,2024/06/11,token_transfer,276769775616,188280954880,88436744192,710996752,949883103,772023090
62,2024/06/12,token_transfer,276804509696,188280954880,88471478272,724840509,963325270,778242342
63,2024/06/13,token_transfer,277998329856,188971474944,88974598144,738169808,976714009,778242342
64,2024/06/14,token_transfer,278715162624,189541851136,89120882688,736394110,988018432,791641506
65,2024/06/15,token_transfer,280858517504,191045328896,89760350208,733837712,999730717,798683154

In [41]:
diff_df = df_origin - df_shifted
diff_df['time'] = df_origin['time']
diff_df['n_tup_inc'] = diff_df['n_tup_ins'] - diff_df['n_tup_del']
diff_df[['time', 'total_size', 'data_size', 'index_size', 'n_live_tup', 'n_tup_ins', 'n_tup_del', 'n_tup_inc']]

,time,total_size,data_size,index_size,n_live_tup,n_tup_ins,n_tup_del,n_tup_inc
0,2024/04/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024/04/13,1.123844e+09,1.114071e+09,9461760.0,-3927322.0,5215558.0,0.0,5215558.0
2,2024/04/14,6.817382e+07,6.126797e+07,6881280.0,10669660.0,7647918.0,5636566.0,2011352.0
3,2024/04/15,8.612250e+07,0.000000e+00,86122496.0,1506827.0,7644193.0,6008475.0,1635718.0
4,2024/04/16,1.493361e+09,1.330455e+09,162545664.0,-7674494.0,6977121.0,5534472.0,1442649.0
...,...,...,...,...,...,...,...,...
61,2024/06/11,1.925038e+09,1.547731e+09,376881152.0,-18429715.0,12742974.0,49208400.0,-36465426.0
62,2024/06/12,3.473408e+07,0.000000e+00,34734080.0,13843757.0,13442167.0,6219252.0,7222915.0
63,2024/06/13,1.193820e+09,6.905201e+08,503119872.0,13329299.0,13388739.0,0.0,13388739.0
64,2024/06/14,7.168328e+08,5.703762e+08,146284544.0,-1775698.0,11304423.0,13399164.0,-2094741.0
65,2024/06/15,2.143355e+09,1.503478e+09,639467520.0,-2556398.0,11712285.0,7041648.0,4670637.0

In [43]:
pretty_diff_df = pretty_size(diff_df)
pretty_diff_df[['time', 'total_size', 'data_size', 'index_size', 'n_live_tup', 'n_tup_ins', 'n_tup_del', 'n_tup_inc']].tail(30)

,time,total_size,data_size,index_size,n_live_tup,n_tup_ins,n_tup_del,n_tup_inc
36,2024/05/18,1.924026,1.503426,0.420189,-2540092.0,7348100.0,4035673.0,3312427.0
37,2024/05/19,0.076820,0.059036,0.017761,8972565.0,6616191.0,4570476.0,2045715.0
38,2024/05/20,1.394875,1.068428,0.326157,-1467858.0,6718893.0,4535066.0,2183827.0
39,2024/05/21,0.266708,0.224922,0.041718,6274719.0,7709242.0,5115316.0,2593926.0
40,2024/05/22,1.585823,1.261040,0.324440,-11230046.0,8175451.0,5052115.0,3123336.0
41,2024/05/23,0.210457,0.082306,0.128128,17128290.0,7108049.0,3919778.0,3188271.0
42,2024/05/24,1.744186,1.365929,0.377876,-4312910.0,7946831.0,4482558.0,3464273.0
43,2024/05/25,0.102707,0.061111,0.041580,10808441.0,8119848.0,4575420.0,3544428.0
44,2024/05/26,2.469635,1.955017,0.514076,-6010680.0,9394311.0,4391162.0,5003149.0
45,2024/05/27,0.073692,0.053917,0.019760,13659737.0,7310916.0,4759652.0,2551264.0
46,2024/05/28,2.008011,1.559532,0.448051,-2902273.0,8607247.0,4444771.0,4162476.0
47,2024/05/29,0.231812,0.157715,0.074051,11267471.0,9133055.0,4027568.0,5105487.0
48,2024/05/30,2.551018,2.057045,0.493408,-5484767.0,8628660.0,4170338.0,4458322.0
49,2024/05/31,0.377625,0.217850,0.159714,14952551.0,9843477.0,4759413.0,5084064.0
50,2024/06/01,6.642952,2.125412,4.516953,-3064532.0,8914619.0,5003050.0,3911569.0
51,2024/06/02,0.247337,0.099144,0.148163,10746171.0,10110673.0,6147300.0,3963373.0
52,2024/06/03,1.109367,0.968277,0.140839,6531565.0,11411633.0,5894874.0,5516759.0
53,2024/06/04,1.129608,1.050606,0.078705,3839557.0,10228270.0,5821703.0,4406567.0
54,2024/06/05,2.305527,1.917519,0.387482,10352247.0,14170099.0,6127461.0,8042638.0
55,2024/06/06,2.978539,2.346252,0.631638,9840383.0,15656530.0,5720372.0,9936158.0
56,2024/06/07,2.583580,2.021210,0.561813,8065033.0,15385947.0,6881315.0,8504632.0
57,2024/06/07,0.288811,0.247398,0.041336,-217692006.0,1224814.0,7033852.0,-5809038.0
58,2024/06/08,5.307755,4.179802,1.126793,236674007.0,24587339.0,0.0,24587339.0
59,2024/06/09,4.053291,3.232925,0.819473,13559757.0,13559917.0,0.0,13559917.0
60,2024/06/10,4.419838,3.519783,0.899078,14763051.0,14763019.0,19021327.0,-4258308.0
61,2024/06/11,1.792831,1.441437,0.350998,-18429715.0,12742974.0,49208400.0,-36465426.0
62,2024/06/12,0.032349,0.000000,0.032349,13843757.0,13442167.0,6219252.0,7222915.0
63,2024/06/13,1.111832,0.643097,0.468567,13329299.0,13388739.0,0.0,13388739.0
64,2024/06/14,0.667603,0.531204,0.136238,-1775698.0,11304423.0,13399164.0,-2094741.0
65,2024/06/15,1.996155,1.400223,0.595551,-2556398.0,11712285.0,7041648.0,4670637.0

In [44]:
pretty_size(df_origin).tail(30)

,time,table_name,total_size,data_size,index_size,n_live_tup,n_tup_ins,n_tup_del
36,2024/05/18,token_transfer,211.809135,142.076691,69.693146,584155994,691815098,596359803
37,2024/05/19,token_transfer,211.885956,142.135727,69.710907,593128559,698431289,600930279
38,2024/05/20,token_transfer,213.280830,143.204155,70.037064,591660701,705150182,605465345
39,2024/05/21,token_transfer,213.547539,143.429077,70.078781,597935420,712859424,610580661
40,2024/05/22,token_transfer,215.133362,144.690117,70.403221,586705374,721034875,615632776
41,2024/05/23,token_transfer,215.343819,144.772423,70.531349,603833664,728142924,619552554
42,2024/05/24,token_transfer,217.088005,146.138351,70.909225,599520754,736089755,624035112
43,2024/05/25,token_transfer,217.190712,146.199463,70.950806,610329195,744209603,628610532
44,2024/05/26,token_transfer,219.660347,148.154480,71.464882,604318515,753603914,633001694
45,2024/05/27,token_transfer,219.734039,148.208397,71.484642,617978252,760914830,637761346
46,2024/05/28,token_transfer,221.742050,149.767929,71.932693,615075979,769522077,642206117
47,2024/05/29,token_transfer,221.973862,149.925644,72.006744,626343450,778655132,646233685
48,2024/05/30,token_transfer,224.524879,151.982689,72.500153,620858683,787283792,650404023
49,2024/05/31,token_transfer,224.902504,152.200539,72.659866,635811234,797127269,655163436
50,2024/06/01,token_transfer,231.545456,154.325951,77.176819,632746702,806041888,660166486
51,2024/06/02,token_transfer,231.792793,154.425095,77.324982,643492873,816152561,666313786
52,2024/06/03,token_transfer,232.902161,155.393372,77.465820,650024438,827564194,672208660
53,2024/06/04,token_transfer,234.031769,156.443977,77.544525,653863995,837792464,678030363
54,2024/06/05,token_transfer,236.337296,158.361496,77.932007,664216242,851962563,684157824
55,2024/06/06,token_transfer,239.315834,160.707748,78.563644,674056625,867619093,689878196
56,2024/06/07,token_transfer,241.899414,162.728958,79.125458,682121658,883005040,696759511
57,2024/06/07,token_transfer,242.188225,162.976357,79.166794,464429652,884229854,703793363
58,2024/06/08,token_transfer,247.495979,167.156158,80.293587,701103659,908817193,703793363
59,2024/06/09,token_transfer,251.549271,170.389084,81.113060,714663416,922377110,703793363
60,2024/06/10,token_transfer,255.969109,173.908867,82.012138,729426467,937140129,722814690
61,2024/06/11,token_transfer,257.761940,175.350304,82.363136,710996752,949883103,772023090
62,2024/06/12,token_transfer,257.794289,175.350304,82.395485,724840509,963325270,778242342
63,2024/06/13,token_transfer,258.906120,175.993401,82.864052,738169808,976714009,778242342
64,2024/06/14,token_transfer,259.573723,176.524605,83.000290,736394110,988018432,791641506
65,2024/06/15,token_transfer,261.569878,177.924828,83.595840,733837712,999730717,798683154